aiohttp
aiosignal
amqp
asgiref
async-timeout
attrs
billiard
bitarray
blinker
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
DateTime
distlib
dj-database-url
Django==2.1
filelock
frozenlist
gunicorn
idna
itsdangerous
Jinja2
kombu
looseversion
MarkupSafe
mpmath
multidict
networkx
numpy
packaging
pathlib
pdf2image
pdfreader
Pillow
pipenv
platformdirs
prompt-toolkit
psycopg2-binary
pycryptodome
PyGetWindow
PyMuPDF
PyPDF2
PyRect
pytesseract
python-dateutil
pytz
regex
six
setuptools
sqlparse
sympy
typing_extensions
tzdata
urllib3
vine
virtualenv
wcwidth
Werkzeug
wheel
whitenoise
yarl
zope.interface